<!DOCTYPE html>
<html>
<head>
    (% include "partial/head.html" %)
</head>
<body>
    (% include "partial/navbar.html" %)

    <div class="content" id="list">
                (% if users|length > 0%)
                    <table class="striped centered responsive-table">
                        <colgroup>
                            <col width="10%"/>
                            <col width="20%"/>
                            <col width="10%"/>
                            <col width="20%"/>
                            <col width="*"/>
                            <col width="10%"/>
                            <col width="10%"/>
                        </colgroup>
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Name</th>
                                <th>Sex</th>
                                <th>Birth</th>
                                <th>Address</th>
                                <th>Modify</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                        (% for i in users %)
                            <tr>
                                <td>(( i.mem_no ))</td>
                                <td>(( i.mem_name ))</td>
                                (% if i.mem_sex == 1 %)
                                    <td>Female</td>
                                (% else %)
                                    <td>Male</td>
                                (% endif %)
                                <td>(( i.mem_year ))/(( i.mem_month ))/(( i.mem_day ))</td>
                                <td>(( i.mem_address ))</td>
                                <td><button class="waves-effect waves-light btn">Modify</button></td>
                                <td><button class="waves-effect waves-light btn red" @click="deleteUser('((i.mem_no))')">Delete</button></td>
                            </tr>
                        (% endfor %)
                        </tbody>  
                    </table>
                (% else %)
                    <h3>데이터가 없습니다.</h3>
                (% endif %)
            
    </div>

    (% include "partial/js.html" %)
</body>
</html>